<style type="text/css">
 
#webchat p {
line-height: initial;
}
 
#webchat ul {
list-style-type: disc;
font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
font-size: 16px;
line-height: initial;
}
 
#webchat ol {
list-style-type: decimal;
font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "sans-serif";
font-size: 16px;
line-height: initial;
}
</style>

<div id="webchat" 
app-id="ncss-ask-ssi" 
app-name="Ask Sarah" 
app-icon="https://ssi.gov.sg/images/SSI_Chatbot.png"
app-color="#BA0C2F" 
app-base-font-size="16" 
app-auto-launch="false" 
app-bot-response-trigger-event="true"
app-enable-auto-complete="true"

app-environment-override="draft"
>
</div>

<script type="text/javascript" src="https://webchat.vica.gov.sg/static/js/chat.js">
</script>
