<style type="text/css">
 
#webchat p {
line-height: initial;
}
 
#webchat ol {
font-size: 16px;
line-height: initial;
list-style-type: decimal
}
 
#webchat ul {
font-size: 16px;
line-height: initial;
list-style-type: disc;
}
 
#webchat ol li{
font-size: 16px;
line-height: initial;
list-style-type: decimal
}
 
#webchat ul li{
font-size: 16px;
line-height: initial;
list-style-type: disc;
}
</style>

<div id="webchat"
app-id="ncss-ask-ssi"
app-name="Ask Sarah"
app-icon="/images/ssi_chatbot.png"
app-color="#BA0C2F"
app-base-font-size="16"
app-auto-launch="false"
app-bot-response-trigger-event="true"
app-enable-auto-complete="true"
app-font-family="Lato"
>
</div>

<script type="text/javascript" src="https://webchat.vica.gov.sg/static/js/chat.js" referrerpolicy="origin">
</script>
